
<%= stylesheet_link_tag 'posts/index', media: 'all' %>

<div class="user-show-container">
  <%= render partial: 'user_details', locals: { user: @user } %>
</div>

<div class="user-posts-container">
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2>
          <%= link_to post.title, user_post_path(@user, post) %>
        </h2>

        <%= "#{post.text}" %>
        <p class="post-metadata">
          <span class="comments-count">Comments: <%= post.comments.count %></span>
          <span class="likes-count">Likes: <%= post.likes.count %></span>
        </p>

        <ul class="comments-list">
          <% post.five_recent_comments.each do |comment| %>
            <li>
              <strong><%= comment.user.name %>:</strong> <%= comment.text %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="text-center mt-4">
  <%= link_to 'Create New Post', new_user_post_path(user_id: @user), class: 'btn btn-success' %>
</div>

<div class="last-btn pagination">
  <button class="back-link">Pagination</button>
</div>
