<%= stylesheet_link_tag 'posts/show' %>

<div class="post-container">
  <h1>
    <% @user.posts.each do |post| %>
      <h4><%= post.title %></h4>
    <% end %>
    <p>Post <%= @user.posts.count %> by <%= @user.name %></p>
  </h1>

  <div class="comments-likes">
    <p>
      <strong>Comments: <%= @post.comments.count %></strong>,
      <strong>Likes: <%= @post.likes.count %></strong>
      <%= form_with(url: user_post_likes_path(@user, @post), method: :post, local: true, class: 'like-form') do |form| %>
        <%= form.submit 'Like', class: 'like-button' %>
      <% end %>
    </p>
  </div>
</div>

<p class="post-text"><%= @post.text %></p>

<% if can?(:destroy, @post) %>
          <%= button_to "Delete Post", user_post_path(@user, @post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <% end %>

<div class="user-comments-container">
  <ul>
  <% @post.comments.each do |comment| %>
    <li>
      <strong><%= comment.user.name %>:</strong> <%= comment.text %>
      <% if can? :destroy, comment %>
      <%= button_to 'Delete Comment', user_post_comment_path(comment.user, comment.post.id, comment), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
  
  </ul>
</div>

<%= link_to 'Back to Posts', user_posts_path(@user), class: 'back-link' %>

<%= link_to 'Add a Comment', new_user_post_comment_path(@user, @post), class: 'add-comment-link' %>
