<%= stylesheet_link_tag 'posts/show' %>

<div class="post-container">
<h1>
<% @user.posts.each do |post| %>
  <h4><%= post.title %></h4>
<% end %>
  <p>Post <%= @user.posts.count %> by <%= @user.name %></p>
</h1>


  <div class="comments-likes">
    <p>
      <strong>Comments: <%= @post.comments_counter %></strong>,
      <strong>Likes: <%= @post.likes_counter %></strong>
      <%= form_with(url: user_post_likes_path(@user, @post), method: :post, local: true, class: 'like-form') do |form| %>
        <%= form.submit 'Like', class: 'like-button' %>
      <% end %>
    </p>
  </div>

</div>

<p class="post-text"><%= @post.text %></p>

<div class="user-comments-container">
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <strong><%= comment.user.name %>:</strong> <%= comment.text %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back to Posts', user_posts_path(@user), class: 'back-link' %>
